<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">All News List</h4>
                    <a routerLink="/news/create" class="btn btn-sm btn-primary">Add News</a>
                </div>
                <div class="table-responsive">
                    <table class="table align-middle table-hover">
                        <thead class="bg-light-subtle">
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let news of newsList">
                                <td>{{ news.title }}</td>
                                <td>{{ news.category }}</td>
                                <td>{{ news.createdAt | date }}</td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <!-- [routerLink]="['/news/view', news.id]" -->
                                        <a  class="btn btn-light btn-sm">
                                            <iconify-icon icon="solar:eye-broken"></iconify-icon>
                                        </a>
                                        <!-- [routerLink]="['/news/edit', news.id]" -->
                                        <a  class="btn btn-soft-primary btn-sm">
                                            <iconify-icon icon="solar:pen-2-broken"></iconify-icon>
                                        </a>
                                        <button (click)="deleteNews(news.id)" class="btn btn-soft-danger btn-sm">
                                            <iconify-icon icon="solar:trash-bin-minimalistic-2-broken"></iconify-icon>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

